<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /simple-membership/

# enforce no trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /simple-membership/$1 [L,R=301]

# rewrite
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /simple-membership/index.php [L]
</IfModule>
